<head>
    <title>OniMask - articles</title>
     <%= stylesheet_link_tag "articles" %>
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    
</head>

<body>
    <div class="container-elem">
        <div class="articles-body">
            <h2><%= @article.title%></h2>
            <ul>
             <li><%= link_to "destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li></ul>
            <div class="body">
                <%= @article.body%>
            </div>
            <span><%= @user.username%></span><br>
            <time datetime="">[<%= @article.created_at%>]</time>
        </div>

</body>